/*CSS Global non responsive*/

html{
    
    background-color:burlywood;
    font: 1.2em sans-serif;

}

body{
    margin-left: 2vw;
    margin-right: 2vw;
}

.title{
    background-image: url(../medias/background.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    font-size: x-large;
    opacity: 0.9;
    border-radius: 25px 25px 0px 0px;
    padding-top: 1rem;
}

nav{
    margin:auto;
}

.title h1{
    font-family: 'Courier New', Courier, monospace;
    height:100px;
    color:goldenrod;
    margin: auto;
    text-shadow: 0 0 3rem black;
}

.title h1::before{
    content: attr(prefix);
}

header,footer,.titlecontenttem{
    text-align: center;
}

.imgindex{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90vw;
}

ul{
    list-style:none;
    display: table;
    width: 100%;
    margin: auto;
    padding: 0;
}

ul li{
    display: table-cell;
    text-align: center;

}

ul li a{
    display: block;
    text-align: center;
    color: rgba(0, 0, 0, .7); 
    padding: 8px 8px 17px 8px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, .4);
    box-shadow: 0 1px 0 rgba(255, 255, 255, .7) inset, 
    0 -1px 0 hsl(36, 88%, 39%) inset, 
    0 -2px 0 hsl(41, 88%, 34%) inset, 
    0 -3px 0 hsl(36, 88%, 20%) inset, 
    0 -4px 0 hsl(36, 85%, 31%) inset, 
    0 -5px 0 hsl(36, 84%, 38%) inset;
}

ul li:first-child a{
    border-radius: 0 0 0 25px;
}
ul li:last-child a{
    border-radius: 0 0 25px 0;
}

ul li a:hover, 
ul li a:focus{
    background: rgba(255, 255, 255, 0.514);
    box-shadow: 0 1px 0 rgba(143, 72, 6, 0.7) inset, 
                0 -1px 0 hsl(41, 74%, 39%) inset, 
                0 -2px 0 hsl(41, 67%, 57%) inset, 
                0 -3px 0 hsl(46, 57%, 56%) inset, 
                0 -4px 0 hsl(44, 57%, 42%) inset, 
                0 -5px 0 hsl(41, 58%, 42%) inset; 
} 

.actus{
   margin-top: 10px;
   padding: 10px;
   border-style: solid;
   border-color: #b7720b;
   border-radius: 25px 25px 25px 25px;
}

/*********************************************************************************************************/

/*CSS Global responsive à l'aide des média queries*/

@media only screen and (max-width: 600px) {

    ul li{
        display: block;
    }

    ul li:first-child a{
        border-radius: 0 0 0 0;
    }
    
    ul li:last-child a{
        border-radius: 0 0 25px 25px;
    }

    .title h1{
        color:gold;
        width: 90%;
        text-align: center;
        font-size: xx-large;
        text-shadow: 0 0 3rem black;
    }

    .title{
        opacity: 1;
    }

    .imgindex{
        height: 300px;
    }

    .title h1::before{
        content: none;
    }

}