/* carousel */

.shop-carousel {
	background-color: rgb(165, 75, 1);
	width: 60vw;
	margin:auto;
	margin-top: 10px;
	margin-bottom: 10px;
	display: flex;

	padding: 10px;

	border: 5px solid rgba(165, 75, 1, 0.3);
}

@media only screen and (max-width: 800px) {
	.shop-carousel {
		width: 90%;
	}
  }

.shop-carousel-pic {
	max-width: 100px;
	max-height: 100px;
	height: 100px;

    border-radius: 50%;
}

.carousel-wrapper {
	margin: auto;
	text-align: center;
}


/* shop elems */

.flexcontainer {
	align-items: center;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;

	margin-bottom: 50px;
}

.shop-element {
	margin: 10px;
	padding: 5px;
	padding-bottom: 30px;
	background-color: rgb(165, 42, 42, 0.4);
	border: 2px solid #b7720b;
	height: 330px;
	width: 300px;
}

.shop-element-title {
	color: rgba(0, 0, 0, .7);
	border-bottom: 1px solid rgba(0, 0, 0, 0.3);
	margin-bottom: 5px;
}

.shop-element-pic {
	max-width: 300px;
	max-height: 300px;
}

.shop-element-desc {
	text-align: center;
	font-size: 80%;
	color: brown;
	margin: auto;
	padding: auto;
}